[submodule "arduino"]
	path = arduino
	url = https://github.com/Pylo/MCreatorLinkArduino.git
	branch = master
[submodule "raspberrypi"]
	path = raspberrypi
	url = https://github.com/Pylo/MCreatorLinkRaspberryPi.git
	branch = master
